<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Salvar Novo Usuario de Hospedagem</title>
</head>
<body>
    <h1>Adicionar novo Usuario</h1>

    <br/>

    <form action="/usuario/save" method="POST">
        <label>Nome: </label>
        <input type="text" id="nome" name="nome" placeholder="Nome do Usuario que vai se hospedar"/>
        <br/>
        <label>Sobre Nome</label>
        <input type="text" id="sobreNome" name="sobreNome" placeholder="Sobre Nome do Usuario"/>
        <br/>
        <label>Idade: </label>
        <input type="text" id="idade" name="idade" placeholder="idade do Usuario"/>
        <br/>
        <label>CPF: </label>
        <input type="text" id="cpf" name="cpf" placeholder="CPF do Usuario"/>
        <br/>
        <label>Email: </label>
        <input type="text" id="email" name="email" placeholder="Sobre Nome do Usuario"/>
        <br/>
        <label>Endereco: </label>
        <input type="text" id="endereco" name="endereco" placeholder="Endereco do Usuario"/>
        <br/>
        <label>Contato: </label>
        <input type="text" id="contato" name="contato" placeholder="Telefone para contato com Usuario"/>
        <br/>
        <label>Tipo de Suite: </label>
        <input type="text" id="hospedagem" name="hospedagem" placeholder="Tipo de suite para Usuario"/>
        <br/>
        <input type="submit" value="Salvar"/>


    </form>
</body>
</html>