<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <title>Usuários</title>
</head>
<body>
    <h1>Usuários</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Usuário</td>
            <td>Email</td>
            <td>Hospedagem</td>
        </tr>

        <% for(var i=0; i< usuario.length; i++) { %>
            <tr>
                <td><%= usuario[i].id %></td>
                <td><%= usuario[i].nome %></td>
                <td><%= usuario[i].email %></td>
                <td><%= usuario[i].hospedagem %></td>
            </tr>
        <% } %>
    </table>    
</body>
</html>