<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    
    <h3>Para exibir todos os dados consumido pelo API, acessa o link : <a href="http://localhost:7070/api">localhost:7070/api</a></h3>
    <br>
    <h3>Para exibir na ordem alfabetica os dados consumido pelo API com filtro solicitado, acessa o link : <a href="http://localhost:7070/apiAlfabetica">localhost:7070/api</a></h3>
    <br>
    <h3>Para exibir todos os usuario cujo o endereço contem 'Suite' consumido pelo API, acessa o link : <a href="http://localhost:7070/suite">localhost:7070/api</a></h3>
    <br>
    <h3>Para salvar novo formulario no banco de dados, acessa o link : <a href="http://localhost:7070/saveUsuario">localhost:7070/saveUsuario</a></h3>
    
</body>
</html>